.sidebar {
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-left: transparent 5px solid;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
}

.link:hover {
  background: rgba(255, 255, 255, 0.4);
  border-left: yellow 5px solid;
  color: black;
}

.icon {
  flex: 0.5;
}

.label {
  font-size: 1.2em;
  font-weight: bold;
  flex: 2;
}
