.authform {
  composes: glass from global;
  width: 600px;
  overflow: hidden;
}

.header {
  padding: 10px 40px;
  border-bottom: var(--glass-border);
}

.body {
  padding: 20px 40px;
}

.input-box {
  margin-bottom: 20px;
}

.input {
  border: var(--glass-border);
  background: rgba(255, 255, 255, 0.7);
  outline: none;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 18px;
  width: 100%;
  margin-top: 15px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
