@property --x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 59%;
}

@property --y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 56%;
}

.register {
  composes: full-screen from global;
  composes: center-children from global;
  position: relative;
  overflow: hidden;
  background-color: hsla(12, 0%, 0%, 1);
  background-image: radial-gradient(
      at 59% 56%,
      hsla(9, 73%, 78%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 49% 45%, hsla(179, 84%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 73%, hsla(227, 96%, 63%, 1) 0px, transparent 50%);
}
