@property --x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.layout {
  composes: full-screen from global;
  composes: center-children from global;
  position: relative;
  overflow: hidden;
  background-color: #99ffd8;
  background-image: radial-gradient(
      at 43% 63%,
      hsla(54, 87%, 76%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 57% 15%, hsla(232, 74%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 77%, hsla(301, 99%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 20%, hsla(12, 92%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 56% 87%, hsla(331, 81%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 41%, hsla(24, 99%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 78% 23%, hsla(200, 89%, 69%, 1) 0px, transparent 50%);
}
