:root {
  --glass-border: 1px solid rgba(255, 255, 255, 0.7);
  --glass-filter: blur(16px) saturate(200%);
}

* {
  box-sizing: border-box;
}

body,
main {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(60, 60, 222);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: rgb(138, 60, 222);
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}
