.signin {
  composes: full-screen from global;
  composes: center-children from global;
  position: relative;
  overflow: hidden;
  background-color: hsla(322, 0%, 0%, 1);
  background-image: radial-gradient(
      at 22% 13%,
      hsla(197, 88%, 77%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 59% 3%, hsla(312, 92%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 59%, hsla(250, 63%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 0%, hsla(18, 79%, 76%, 1) 0px, transparent 50%);
}
